<div class="row">
    <div class="col"><h2>Tasks</h2></div>
    <div class="col-2 text-right">
        <a class="btn btn-outline-info" href="{{ path('task_new',  {'list': todo_list.id}) }}">Add new task</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Label</th>
        <th>Done</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in todo_list.tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.label }}</td>
            <td>{{ task.done ? 'Yes' : 'No' }}</td>
            <td class="btn-group">
                <a class="btn btn-info" href="{{ path('task_show', {'id': task.id, 'list': todo_list.id}) }}">show</a>
                <a class="btn btn-secondary" href="{{ path('task_edit', {'id': task.id, 'list': todo_list.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

