<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{{ path('home') }}">Home</a>#}
{#            </li>#}
        </ul>
        <span class="navbar-text">
      {% if app.user %}
      <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout') }}">Logout</a>
      {% else %}
          <a class="btn btn-sm btn-outline-info" href="{{ path('app_login') }}">Login</a>
          <a class="btn btn-sm btn-outline-info" href="{{ path('app_registration_signin') }}">Sign in</a>
      {% endif %}
    </span>
    </div>
</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
